name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  CI: true

jobs:
  validate:
    name: Lint Test and Build Lib
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: pnpm i

      - name: Prettier
        run: pnpm format:check

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: pnpm i

      - name: Test
        run: pnpm test

  test-example:
    runs-on: ${{ matrix.os }}
    name: Smoke test example
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Test
        run: cd ./example && pnpm build-keycloak-theme
